# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build output
.next/
dist/
lib/
out/
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.local.json
!firebase.json

# Prisma
packages/db/generated/

# Logs
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
